name: Publish release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write
  packages: write
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Extract tag
        run: |
          echo TAG="${GITHUB_REF/refs\/tags\/v/}" >> "$GITHUB_ENV"
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: makkes
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish images
        run: |
          make docker-build BUILD_ARGS='--push'
      - name: Prepare release body
        run: |
          echo "See [the changelog](https://github.com/makkes/garage/blob/v${TAG}/CHANGELOG.md) for details." > /tmp/relnotes.txt
      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          body_path: /tmp/relnotes.txt
